<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<title>Angular_form</title>
</head>
<body>
<style>
input.ng-empty{
    border-color: red;
}
</style>

<div ng-app="myApp" ng-controller="formCtrl" >
<form >
    <label for="name">Name:</label>
	<input  type="text" name=""  ng-model="name" id="name" >    
	<br>
	<label for="email"> Email:</label>
    <input type="text" id="email" ng-model="email"> 
	<br>
	<label for="mobile">Mobile No:</label>
	<input type="text" id="mobile" ng-model="mobile"> 
	<br>
	<label for="dob">Date of birth:</label>
	<select id="dob" >
		<option  ng-repeat=" date_of_b in dob" >{{ date_of_b}}</option> 
	</select>
	<br>	
 <label for="state">State:</label> 
	<select id="state"> 
		<option   ng-repeat=" state2 in states">{{state2}}</option> 
	</select>
	<br>
	<label for="city">City:</label>
	<select id="city"  >
		<option ng-repeat=" city2 in city">{{city2 }}</option> 
	</select>
	<br>
	 <label for="password">Password:</label>
 	<input type="text" name="" id="password" ng-model="password"> 
	<br>
</form>

<button ng-click="addinfo()">Add info</button>
<br>	
<br>
<table border=".1"> 
	<tr>
		<th>Name</th>
		<th>Email</th>
		<th>Mobile No</th>
		<th>Date of birth</th>
		<th>State</th>
		<th>City</th>
		<th>Password</th>
	</tr>
	<tr ng-repeat = 'x in info | orderBy: myOrderBy '>
	<td>{{x.name}}</td>
	<td>{{x.email}}</td>
	<td>{{x.mobile}}</td>
	<td>{{x.dob}}</td>
	<td>{{x.state}}</td>
	<td>{{x.city}}</td>
	<td>{{x.password}}</td>
	</tr>
	
</table> 
<br>	
<button ng-click="sort1('email')">Sort Email </button>
<button ng-click="sort1('name')" >Sort Name </button>
<br><br>
<input type="text" name="searchidname" ng-model="searchtext" placeholder="Enter name or gmail to search.">
<br><br>
<table border=".1"> 
	<tr>
		<th>Name</th>
		<th>Email</th>
		<th>Mobile No</th>
		<th>Date of birth</th>
		<th>State</th>
		<th>City</th>
		<th>Password</th>
	</tr>
	<tr ng-repeat = "x in info  |  filter:search ">
	<td>{{x.name}}</td>
	<td>{{x.email}}</td>
	<td>{{x.mobile}}</td>
	<td>{{x.dob}}</td>
	<td>{{x.state}}</td>
	<td>{{x.city}}</td>
	<td>{{x.password}}</td>
	</tr>	
</table>

</div>

<script>
var app = angular.module('myApp', []);
app.controller('formCtrl', function($scope) {

$scope.info=[
			{'name':"a", 'email':"b"  , 'mobile':34234 , 'dob':435 , 'state':"sd" , 'city':"dfgdf" ,'password':"gfhgf"},
			{'name':"c", 'email':"d"  , 'mobile':45345 , 'dob':45 , 'state':"sdf" , 'city':"fg" ,'password':"ggfd"},
			{'name':"b", 'email':"c"  , 'mobile':4534 , 'dob':45 , 'state':"sdsds" , 'city':"gfbh" ,'password':"fghfghf"},
			{'name':"d", 'email':"j"  , 'mobile':4353 , 'dob':336 , 'state':"dfjt" , 'city':"dfdf" ,'password':"ggdd"},
			{'name':"h", 'email': "f" , 'mobile':45 , 'dob':54 , 'state':"fhhf" , 'city':"dfgdf" ,'password':"hhfth"},
			{'name':"g", 'email':"k"  , 'mobile':35445 , 'dob':8756 , 'state':"fgfgd" , 'city':"fghf" ,'password':"fgff"}
			];
		$scope.dob=[1999,2000,2001,2002,2003,2004,2005,2006,2007,2008];
   		$scope.states=['Maharashtra','Gujarat','Assam','Karnataka','Kerala'];
   		$scope.city=['Mumbai','Thane','Pune','Delhi'];

   $scope.addinfo=function(){

   	var name1=document.getElementById('name').value
   	var email1=document.getElementById('email').value
   	var mobile1=document.getElementById('mobile').value
   	var dob1=document.getElementById('dob').value
   	var state1=document.getElementById('state').value
   	var city1=document.getElementById('city').value
   	var password1=document.getElementById('password').value

		$scope.info.push({'name': name1 , 'email': email1 , 'mobile':mobile1 , 'dob': dob1 , 'state': state1 , 'city': city1, 'password':password1 });  		
   }
   console.log($scope.info)

   $scope.sort1=function(x){
   	 $scope.myOrderBy= x;

   }
 $scope.search =function (item) {

 	return (item.name.indexOf($scope.searchtext) !=-1 || item.email.indexOf($scope.searchtext) !=-1 )
 };

});
</script>

</body>
</html>